* {
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}


body {
    min-height: 100vh;
    background-color: #FEF7F1;
}

.slide {
    margin: auto;
    width: 100%;
    background-color: #FEF7F1;


}

.slide > div {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.select-banner {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap

}

.item-banner {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    outline: 2px solid #e04f16;
    border-radius: 0.5rem;
    gap: 1rem;
    font-weight: 700;
    /* animation: 600ms ease 300ms 1 normal forwards running fadeInUp; */
}

.space {
    width: 1px;
    height: 1rem;
    background-color: red;
}

.slide-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 1rem;
    margin: 0 7rem 0 7rem;
    column-gap: 2rem;
}

.banner-left, .banner-right {
    padding: 1.5rem 0;

}

.banner-left img, .banner-right img {
    max-width: 100%;
}

.case-study-fnb {
    margin: 4rem 7rem 2rem 7rem;
    display: flex;

    align-items: center;
    flex-direction: column;
    position: relative;
}

h2 {
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.select {
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.select-crike {
    padding: 6px;
    background-color: #e04f16;
    width: 0%;
    border-radius: 50rem;
}

.slide-case-study {

    width: 100%;
}

/* .slide-case
{
   position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
} */
.slide-case img {
    max-width: 100%;
    object-fit: cover;

}

@keyframes slideshow-animation {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* .slide-case:nth-child(1) {
  animation: slideshow-animation 20s infinite;
}
.slide-case:nth-child(2) {
  animation: slideshow-animation 20s infinite;
  animation-delay: 5s;
}
.slide-case:nth-child(3) {
  animation: slideshow-animation 20s infinite;
  animation-delay: 5s;
}
.slide-case:nth-child(4) {
  animation: slideshow-animation 20s infinite;
  animation-delay: 5s;
}
.slide-case:nth-child(5) {
  animation: slideshow-animation 20s infinite;
    animation-delay: 5s;
} */
.btn-start {
    text-align: center;

}

.btn-start a {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 1rem 3rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
    border-radius: 10px;
    border-top: 1px solid #feaea4;
    background: linear-gradient(180deg, #f48120 0%, #ef4723 100%);
}

.reason {
    margin: 0 7rem;
    padding-bottom: 50px;
}

.reason h2 {
    margin-bottom: 2rem;
}

.reason-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin: 1.5rem 0;
}

.effect, .clear, .prestige {
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    border-radius: 10px


}

.ecosystem {
    padding: 3rem;
    background: rgb(255, 255, 255, 1.00);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: 10px;

}

.ecosystem h3 {
    font-size: 24px;
    font-weight: 700;

}

.ecosystem p .text-bold {
    font-weight: bold;
}

.ecosystem p span, .ecosystem span {
    font-size: 18px;
}

.ecosystem-img > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
}

.ecosystem-item {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

.ecosystem-item img {
    max-width: 100%;
}

.ecosystem-item h3 {
    -webkit-background-clip: text;
    background-clip: text !important;
    color: transparent;
    background: linear-gradient(90deg, #f26336 0%, #f68e39 100%);
}

.ecosystem-item h3, .ecosystem-item p {
    text-align: center;
}

.matrix, .power, .achievement {
    margin-top: 1.5rem;
    border-radius: 10px;
    background-color: white;
}

.matrix > div, .power > div {
    padding: 3rem;
}

.achievement > div {
    padding: 2rem 3rem 3rem 3rem;
}

.matrix > div > img, .power > div > img, .achievement > div > img {
    max-width: 100%;
    border-radius: 10px;
}

.btn-start-end {
    text-align: center;
    margin-top: 60px;

}

.btn-start-end a {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 1rem 3rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
    border-radius: 10px;
    border-top: 1px solid #feaea4;
    background: linear-gradient(180deg, #f48120 0%, #ef4723 100%);
}

.footer {
    margin-top: 4rem;
    padding: 4rem 7rem;
    background-color: white;
    color: #475467;
}

.footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-col-1 {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    max-width: 30rem;
}

.footer-col-1 img {
    width: 50%;
}

.footer-col-1 .flag {
    display: flex;
    column-gap: 1rem;
    flex-direction: row;
}

.flag img {
    width: 24px;
}

.footer-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
}

.contact-with {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.address {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.address-north, .address-sorth {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.address-north .pt, .address-sorth .pt, .contact-with .pt {
    font-weight: 700;
}

.phone a {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}

.phone a p {
    font-weight: normal;
    color: #475467;
}

.end {
    white-space: break-spaces;
}

:root {
    --swiper-theme-color: #007aff;
    --dh-color-1: rgb(24, 24, 24);
    --dh-color-2: #292929;
    --dh-color-3: #363636;
    --dh-color-4: #525252;
    --dh-text-1: rgb(158, 158, 158);
    --dh-text-2: rgb(255, 255, 255);
    --dh-brand: rgb(163, 117, 255);
    --dh-green: rgb(46, 184, 176);
    --dh-yellow: rgb(255, 169, 0);
    --dh-red: rgb(218, 0, 44);
    --dh-orange: rgb(255, 155, 115);
    --dh-blue: rgb(12, 141, 233);
    --dh-scrollbar: #363636;
    --dh-scrollbar-hover: #525252;
    --Purple: rgba(117, 107, 238, 1);
    --Silver: rgba(255, 255, 255, 1);
    --Dark-Silver: rgba(57, 54, 78, 1);
    --Black: rgb(255, 255, 255);
    --black: rgb(0, 0, 0)
}

html {
    scroll-behavior: smooth;
}


a {
    cursor: pointer;
    transition: all 200ms 0ms linear;
    text-transform: none;
    text-decoration: none;
    font-weight: 700;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
}

img {
    display: block;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}


/*header*/
.nav-bar {
    top: 0;
    left: 0;
    color: var(--Black);
    right: 0;
    bottom: auto;
    display: flex;
    z-index: 100000;
    position: sticky;
    background: rgb(255, 255, 255);
    align-items: center;
    margin-left: auto;
    padding: 1rem 7rem;
    margin-right: auto;
    border-bottom: 1px solid #f9dbaf;
    border-radius: 1px;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.nav-bar-left {
    column-gap: 40px;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}

.main-logo {
    display: flex;
    align-items: center;
}

.second-logo {
    display: none;
}

.main-logo img {
    height: 26px;
}

.ecom-boost {
    display: inline;
    align-items: center;
    padding: 1rem;

}


.nav-bar-left .ecom {
    display: flex;
    gap: 40px;

}


.nav-bar-left .ecom a p {

    color: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, #001e4b 2%, #006ccc 100%);
    -webkit-background-clip: text;

}

.nav-bar-left .hide-link {
    flex: 1 1 0%;

}

.nav-bar-left .hide-link a p {
    color: var(--Black);
    background: var(--Black);
}

.nav-bar-right {
    display: flex;
    gap: 1.5rem;
}

.button-5g {
    display: flex;
    flex: 0 0 auto;
    color: #ef6820;
    border: 2px solid #ef6820;
    height: auto;
    text-align: justify;
    word-break: normal;
    align-items: center;
    font-weight: 500;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    flex-direction: row;
}

.button-ecom {
    display: flex;
    flex: 0 0 auto;
    color: rgb(255, 255, 255);
    background: linear-gradient(180deg, #001e4b 0%, #006ccc 100%);
    border-top: 1px solid #001e4b;
    box-shadow: 0px 0px 10px 0px #001f4d2e;
    text-align: justify;
    word-break: normal;
    align-items: center;
    font-weight: 500;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    flex-direction: row;
}

.menu-icon {
    width: 30px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 0;
    transition: 0.2s;
}

.menu-icon .line {
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
}

.button-5g, .button-ecom {
    align-self: center;
}


/*Banner*/

.banner {
    overflow: hidden;
    margin-top: 3rem;
    margin-left: 7rem;
    margin-right: 7rem;
    border-radius: 2rem;
}

.banner-2 {
    display: flex;
    row-gap: 3rem;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 2rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.body-banner {
    width: 100%;
    height: auto;
    z-index: 999;
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 0rem;
    letter-spacing: 10px;
}

.banner-2-img {
    width: 100%;
    height: 80%;

}

.banner-2 .banner-2-bg {
    top: auto;
    left: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

/* mobile */
.select-banner-mobile, .slideshow-mobile {
    display: none;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0px, 50px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    }
}

@media screen and (max-width: 1100px) {
    .ecosystem-img > div {
        grid-template-columns: 1fr 1fr;
    }

    .footer {
        padding: 1rem 1.5rem;
    }

    .footer-main {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .footer-col-2 {
        grid-template-columns: 1fr;
    }

    .address {
        row-gap: 1rem;
    }

    .contact {
        margin-top: 1rem;
    }

}

@media screen and ( max-width: 900px) {
    .select-banner {
        display: none;
    }

    .select-banner-mobile {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .select-banner-mobile .item-banner {
        justify-content: center;
        background: #f2f4f7;
        padding: 12px 15px;
    }

    .slide {
        padding: 32px 16px;
    }

    .slide > div {
        row-gap: 1rem;
    }

    .slide-banner {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
    }

    .slideshow {
        display: none;
    }

    .case-study-fnb {
        margin: 1rem 0 1.5rem 0;
        padding: 0 1rem;

    }

    .reason {
        margin: 0;
        padding: 4rem 1rem 50px 1rem;

    }

    .reason-item {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .effect, .clear, .prestige {
        padding: 1.5rem;
    }

    .ecosystem {
        padding: 1.5rem;
    }

    .ecosystem-img > div {
        grid-template-columns: 1fr;
        row-gap: 4rem;
    }

    .matrix > div, .power > div {
        padding: 0;
    }

    .btn-start-end a, .btn-start a {
        padding: 1rem 1.5rem;
    }

}


/*footer*/
/* .footer {
    display: flex;
    background: var(--Black);
    color: var(--black);
    flex-direction: row;
    margin: 4rem 0 0 0;
    padding: 4rem 7rem;
}

.footer-main {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
}

.footer-left {
    display: flex;
    row-gap: 1.25rem;
    max-width: 30rem;
    column-gap: 1rem;
    flex-direction: column;
}

.footer-logo {
    width: 50%;
}

.p-footer {
    font-size: 1rem;
    color: #475467;
    white-space: break-spaces;
}

.flag {
    display: flex;
    max-width: 100%;
    column-gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
}

.flag-img {
    display: flex;
    width: 24px;
}

.footer-right {
    display: grid;
    column-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
}

.address {
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    justify-content: flex-start;
}

.p-title {
    font-weight: 700;
}

.main-address {
    display: flex;
    row-gap: 1rem;
    align-self: stretch;
    flex-direction: column;
}

.HCM {
    display: flex;
    row-gap: 1rem;
    align-self: stretch;
    flex-direction: column;
}

.contact {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}

.method {
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
    flex-direction: row;
}

.c-method {
    color: var(--black);
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
    font-weight: 400;
    flex-direction: row;
    justify-content: flex-start;
}

.icon {
    display: flex;
    align-items: center;
} */

@media screen  and (max-width: 480px) {
    .main-logo {
        display: none;
    }

    .second-logo {
        width: fit-content;
        display: flex;
    }

    .logo-mini {
        width: 60%;
        height: auto;
    }
}

@media screen  and  (max-width: 768px) {
    .nav-bar {
        padding: 0.5rem 1rem;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-bar-left {
        column-gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .ecom-boost, .hide-link {
        display: none;
    }

    .menu-icon {
        width: 20px;
        display: flex;
    }

    .line {
        width: 100%;
        height: 2px;
        background: rgb(0, 0, 0);
    }


    .nav-bar-right {
        column-gap: 0.5rem;
    }

    .button-5g {
        border: 1px solid #ef6820;
        font-size: 0.8rem;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .button-ecom {
        background: linear-gradient(180deg, #001e4b 0%, #006ccc 100%);
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        justify-content: center;
        align-items: center;
    }


    .banner {
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 1rem;
        width: 100%;
    }

    .body-banner {
        width: 100%;
        height: 80%;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 990px) {
    .nav-bar {
        position: relative;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .nav-bar-left {
        column-gap: 1.25rem;
        align-items: center;
        justify-content: space-between;
    }

    .hide-link {
        display: none;
    }

    .banner {
        margin: 2rem 3rem;

    }

    .body-banner {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 1100px) {

    .hide-link {
        display: none;
    }

}

@media screen and (max-width: 1440px) {
    .nav-bar {
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: auto;
        z-index: 9999;
        margin-left: auto;
        padding-top: 1rem;
        margin-right: auto;
        border-bottom: 1px solid rgb(255, 123, 0);
        border-radius: 1px;
        padding-bottom: 1rem;
    }

}

