* {
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}


body {
    min-height: 100vh;
    background-color: #FEF7F1;
}


:root {
    --swiper-theme-color: #007aff;
    --dh-color-1: rgb(24, 24, 24);
    --dh-color-2: #292929;
    --dh-color-3: #363636;
    --dh-color-4: #525252;
    --dh-text-1: rgb(158, 158, 158);
    --dh-text-2: rgb(255, 255, 255);
    --dh-brand: rgb(163, 117, 255);
    --dh-green: rgb(46, 184, 176);
    --dh-yellow: rgb(255, 169, 0);
    --dh-red: rgb(218, 0, 44);
    --dh-orange: rgb(255, 155, 115);
    --dh-blue: rgb(12, 141, 233);
    --dh-scrollbar: #363636;
    --dh-scrollbar-hover: #525252;
    --Purple: rgba(117, 107, 238, 1);
    --Silver: rgba(255, 255, 255, 1);
    --Dark-Silver: rgba(57, 54, 78, 1);
    --Black: rgb(255, 255, 255);
    --black: rgb(0, 0, 0)
}

html {
    scroll-behavior: smooth;
}


a {
    cursor: pointer;
    transition: all 200ms 0ms linear;
    text-transform: none;
    text-decoration: none;
    font-weight: 700;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


/*header*/
.nav-bar {
    top: 0;
    left: 0;
    color: var(--Black);
    right: 0;
    bottom: auto;
    display: flex;
    z-index: 100000;
    position: sticky;
    background: rgb(255, 255, 255);
    align-items: center;
    margin-left: auto;
    padding: 1rem 7rem;
    margin-right: auto;
    border-bottom: 1px solid #f9dbaf;
    border-radius: 1px;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    /*width: 100%;*/
    margin: 0 auto;
    padding: 0;
}

.nav-bar-left {
    column-gap: 40px;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}

.nav-bar-left img {
    height: 26px;
}


.nav-bar-left .ecom {
    display: flex;
    gap: 40px;

}


.nav-bar-left .ecom a p {

    color: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, #001e4b 2%, #006ccc 100%);
    -webkit-background-clip: text;

}

.nav-bar-left .hide-link {
    flex: 1 1 0%;

}

.nav-bar-left .hide-link a p {
    color: var(--Black);
    background:  var(--Black);
}

.nav-bar-right {
    display: flex;
    gap: 1.5rem;
}

.nav-bar-right .button-5g {
    display: flex;
    flex: 0 0 auto;
    color: #ef6820;
    border: 2px solid #ef6820;
    height: auto;
    text-align: justify;
    word-break: normal;
    align-items: center;
    font-weight: 500;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    flex-direction: row;
}

.nav-bar-right .button-ecom {
    display: flex;
    flex: 0 0 auto;
    color: rgb(255, 255, 255);
    background: linear-gradient(180deg, #001e4b 0%, #006ccc 100%);
    border-top: 1px solid #001e4b;
    box-shadow: 0px 0px 10px 0px #001f4d2e;
    text-align: justify;
    word-break: normal;
    align-items: center;
    font-weight: 500;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    flex-direction: row;
}

.menu-icon {
    width: 30px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 0;
    transition: 0.2s;
}

.menu-icon .line {
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
}

.logo-mini {
    display: none;
}


/*banner*/

.banner {
    overflow: hidden;
    margin-top: 3rem;

    border-radius: 2rem;
}
.banner img {
    display: block;
    max-width: 100%;

}

.banner-2 {
    display: flex;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    padding-top: 4rem;
    padding-bottom: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.banner-2 .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1679px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.banner-2 .banner-2-img {
    display: flex;
    z-index: 1000;
    position: relative;
    padding-top: 0rem;
    padding-left: 12rem;
    padding-right: 12rem;
    flex-direction: row;
    padding-bottom: 3rem;
    justify-content: center;
}

.banner-2 .banner-2-bg {
    top: auto;
    left: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        transform: translate3d(0px, 50px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    }
}
