* {
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}


body {
    min-height: 100vh;
    background-color: #FEF7F1;
}

.slide
{
    margin:auto;
    width: 100%;
    background-color: #FEF7F1;
    padding: 64px 48px;

}
.select-banner
{
    display: flex;
    gap: 1rem ;
    justify-content: center;
    width: 100%;
}
.item-banner
{
    padding: 12px 24px;
    display: flex;
    align-items: center;
    outline: 2px solid #e04f16;
    border-radius: 0.5rem;
    gap: 1rem;
    max-width: 100%;
}
.space
{
    width: 1px;
    height: 1rem;
    background-color: red;
}
.slide-banner
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 0.5rem;
}
.slide-banner img
{
    max-width: 100%;
}
.banner-left,.banner-right
{
    padding: 1.5px 1.5rem 1.5rem 1.5rem;
}
:root {
    --swiper-theme-color: #007aff;
    --dh-color-1: rgb(24, 24, 24);
    --dh-color-2: #292929;
    --dh-color-3: #363636;
    --dh-color-4: #525252;
    --dh-text-1: rgb(158, 158, 158);
    --dh-text-2: rgb(255, 255, 255);
    --dh-brand: rgb(163, 117, 255);
    --dh-green: rgb(46, 184, 176);
    --dh-yellow: rgb(255, 169, 0);
    --dh-red: rgb(218, 0, 44);
    --dh-orange: rgb(255, 155, 115);
    --dh-blue: rgb(12, 141, 233);
    --dh-scrollbar: #363636;
    --dh-scrollbar-hover: #525252;
    --Purple: rgba(117, 107, 238, 1);
    --Silver: rgba(255, 255, 255, 1);
    --Dark-Silver: rgba(57, 54, 78, 1);
    --Black: rgb(255, 255, 255);
    --black: rgb(0, 0, 0)
}

html {
    scroll-behavior: smooth;
}
